@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500&display=swap");

body {
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #111827;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.email-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d7dce3 transparent; /* thumb | track */
  overflow-x: hidden;
}

.email-scroll::-webkit-scrollbar {
  width: 8px;
}

.email-scroll::-webkit-scrollbar-thumb {
  background-color: #d7dce3;
  border-radius: 9999px;
}

.email-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.email-detail-scroll {
  max-height: calc(100vh - 170px);
}

@media (max-width: 1024px) {
  .email-detail-scroll {
    max-height: calc(100vh - 140px);
  }
}

.conversation-scroll {
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
}

@media (max-width: 1024px) {
  .conversation-scroll {
    max-height: 50vh;
  }
}
